.bg {
    position: absolute;
    width: 1440px;
    height: 1035px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

.logo {
    position: absolute;
    width: 688px;
    height: 218px;
    left: 599px;
    top: 345px;
}

.container p {
    position: absolute;
    width: 921px;
    height: 70px;
    left: 482px;
    top: 563px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
}