.container h1 {
    position: absolute;
    width: 453px;
    height: 94px;
    left: 508px;
    top: 2860px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 94px;
    color: #000000;
}

.first {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 88px;
    top: 2976px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.second {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 426px;
    top: 2976px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.third {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 764px;
    top: 2976px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.fourth {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1102px;
    top: 2976px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.fifth {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 88px;
    top: 3314px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.sixth {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 426px;
    top: 3314px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.seventh {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 764px;
    top: 3314px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.eight {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1102px;
    top: 3314px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}